body {
  background-color: aqua;
  font-family: arial;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  
}
h1 {
    text-align: center;
    font-size: 50px;
    color: black;
} 
h1:hover{
    color: brown;
    background-color: darkkhaki;
    border: solid 2px black;
    padding: 5px;
    margin-top: 20px;
}
.hero {
    text-align: center;
}
.container {
    float: left;
    width: 500px;
}
.sub-container {
    float: right;
}
.table-contents {
    margin-bottom: 50px;
}
.list{
    margin-top: 100px;
    margin-bottom: 50px;
}

